version: 2

updates:
- package-ecosystem: pip
  directory: /
  schedule:
    interval: weekly
    day: "saturday"
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: weekly
    day: "saturday"
