#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

GREEN='\033[0;32m'
NO_COLOR='\033[0m'

function notify() {
	echo -e "$GREEN$1$NO_COLOR"
}

function setup_python() {
	if [[ ! -d "$HOME/.rye/" ]]; then
		notify "Installing Rye..."
		notify ""
		curl -sSf https://rye.astral.sh/get | RYE_INSTALL_OPTION="-y" bash
	fi
	source "$HOME/.rye/env"
	if [[ ! -d ".venv/" ]]; then
		notify "Installing python and package dependencies..."
		notify ""
		rye sync --all-features --no-lock
	fi
	export VIRTUAL_ENV="$PWD/.venv"
	export PATH="$VIRTUAL_ENV/bin:$PATH"
}

function setup_pre_commit() {
	if [[ -d .git ]]; then # Don't run for worktrees where .git is a file, not dir
		# NOTE: These should line up with the `default_install_hook_types` in the
		# `.pre-commit-config.yaml`. We repeat here to speed up this script (which runs for ~every `cd`)
		# by only installing the hooks that are missing.
		for hook in "pre-commit" "pre-merge-commit" "pre-push" "prepare-commit-msg"; do
			if [[ ! -f ".git/hooks/$hook" ]]; then
				pre-commit install --install-hooks -t "$hook"
			fi
		done
	fi
}

setup_python
setup_pre_commit
source_env_if_exists .envrc.user # Allow user to set any env vars
path_add PATH "$PWD/bin"

if [[ -z "${DIRENV_IN_ENVRC:-}" ]]; then # If bootstrapping, notify the user about `direnv`
	notify "To automatically activate the virtualenv, consider installing and configuring direnv:"
	notify "    https://direnv.net"
fi
