name: Publish Docs
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade "pip==23.0" "poetry==1.4.0"
        poetry install --all-extras --no-interaction
    - name: Publish with Portray
      run: |
        # Fetch the gh-pages branch so portray commits on top of existing commits.
        git fetch origin gh-pages
        git branch gh-pages origin/gh-pages
        poetry run portray on_github_pages
